awscli
aws_cdk.core
aws-cdk.aws-apigateway
aws_cdk.aws_lambda_event_sources
aws_cdk.aws_lambda
aws_cdk.aws_iam
aws_cdk.aws_codebuild
aws_cdk.aws_codecommit
aws_cdk.aws_codepipeline
aws_cdk.aws_codepipeline_actions
aws_cdk.aws_s3
aws_cdk.aws_ssm